node_modules
*.json
src
coverage
.prettierrc.json
.travis.yml
.vscode
bin
.github
tsconfig.json
jest-config.js
jest.setup.js
src/__tests__
example
.prettierrc.js
.eslintrc.js
add-license-text
.editorconfig
icon.png
docs
dist
